@keyframes glow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    transform: translateX(350%);
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    transform: translateX(350%);
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.main-wrapper {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper video {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.main-wrapper .cnn {
  position: relative;
  width: 98vw;
  height: 95vh;
}
.main-wrapper .cnn-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrapper .cnn-wrapper .top {
  min-width: 100;
  height: 15%;
  display: flex;
  justify-content: flex-end;
}
.main-wrapper .cnn-wrapper .top .logo-top {
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: flex-end;
}
.main-wrapper .cnn-wrapper .top .logo-top .glow {
  position: absolute;
  width: 22%;
  height: 100%;
  background: gold;
  display: inline-block !important;
  left: 0;
  opacity: 0;
  animation: glow 3s infinite;
  animation-delay: 4s;
}
.main-wrapper .cnn-wrapper .top .logo-top .logo {
  width: 15%;
  height: auto;
  position: relative;
  color: red;
  font-weight: bold;
  font-size: 175%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.main-wrapper .cnn-wrapper .top .logo-top .breaking-news {
  position: relative;
  display: flex;
  width: 24%;
  height: auto;
  background: black;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.main-wrapper .cnn-wrapper .bottom {
  width: 100%;
  height: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-between;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container {
  max-width: 100%;
  height: 75%;
  display: flex;
  justify-content: space-between;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container .left {
  position: relative;
  width: 89.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-left: 10px solid red;
  overflow: hidden;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container .left .breaking-news {
  width: 200px;
  height: 25%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 130%;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container .left .header {
  width: 1400px;
  height: 45%;
  background: white;
  color: black;
  font-weight: bold;
  font-size: 40px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding-left: 10px;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container .left .sub-header {
  width: 1400px;
  height: 30%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
  letter-spacing: 2px;
  word-spacing: 5px;
  padding-left: 10px;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container .right {
  position: relative;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container .right .live {
  width: 100%;
  height: 25%;
  background: white;
  position: relative;
  color: black;
  letter-spacing: 5px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container .right .logo {
  width: 100%;
  height: 60%;
  background: red;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
}
.main-wrapper .cnn-wrapper .bottom .breaking-news-container .right .clock {
  width: 100%;
  height: 15%;
  background: black;
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper .cnn-wrapper .bottom .related {
  width: 100%;
  height: 20%;
  position: relative;
  display: flex;
}
.main-wrapper .cnn-wrapper .bottom .related .contact {
  width: auto;
  height: 100%;
  position: relative;
  background: red;
  padding: 0 1% 0 1%;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 25px;
}
.main-wrapper .cnn-wrapper .bottom .related .related-articles {
  width: 95%;
  height: 100%;
  position: relative;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  font-size: 25px;
  padding-left: 10px;
}

/*# sourceMappingURL=style.css.map */
